APP_NAME=UzumAnalytics
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=uzum
DB_USERNAME=root
DB_PASSWORD=uzum

UZUM_TOKEN=H++pgdFw3mzlRNp+IRIOM0MzVzgSXmC1/VpO1BIgv30=
TELEGRAM_BOT_TOKEN=8632560679:AAGUGxuxAI54VhVfhEKjDazHkd44xmhsWuE
TELEGRAM_CHAT_ID=879387774

QUEUE_CONNECTION=sync